/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

body {
  background: #1f7145;
  color: #888;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.featherlight .featherlight-content {
    padding: 0;
}

.featherlight-content{
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

.featherlight-inner {
    padding: 0;
}

.hidden {
    display: none;
}
/*
  ========================================
  Grid
  ========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container,
.grid {
  margin: 0 auto;
  width: 960px;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}
.grid,
.col-1-2,
.col-1-3,
.col-2-3 {
  padding-left: 15px;
  padding-right: 15px;
}
.col-1-2,
.col-1-3,
.col-2-3  {
  display: inline-block;
  vertical-align: top;
}
.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Rows
  ========================================
*/

.row,
.row-alt {
  min-width: 960px;
}
.row {
  background: #fff;
  padding: 66px 0 44px 0;
}
.row-alt {
  background: #cbe2c1;
  background: -webkit-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:    -moz-linear-gradient(to right, #a1d3b0, #f6f1d3);
  background:         linear-gradient(to right, #a1d3b0, #f6f1d3);
  padding: 44px 0 22px 0;
}

/*
  ========================================
  Typography
  ========================================
*/

h1, h2, h3, h4 {
  color: #648880;
}
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
h1 {
  font-size: 36px;
  line-height: 44px;
}
h2 {
  font-size: 24px;
  line-height: 44px;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 18px;
}
h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
strong {
  font-weight: 400;
}
cite,
em {
  font-style: italic;
}

/*
  ========================================
  Leads
  ========================================
*/

.lead {
  text-align: center;
}
.lead p {
  font-size: 21px;
  line-height: 33px;
}

/*
  ========================================
  Links
  ========================================
*/

a {
  color: #648880;
  text-decoration: none;
}
a:hover {
  color: #f5ccbc;

}
p a {
  border-bottom: 1px solid #dfe2e5;
}
.primary-header a,
.primary-footer a {
  color: #fff;
}
.primary-header a:hover,
.primary-footer a:hover {
  color: #f7a07d;
}


}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
/*  border-radius: 5px;*/
    -webkit-clip-path: polygon(100% 0, 86% 53%, 100% 100%, 0% 100%, 15% 53%, 0% 0%);
    clip-path: polygon(100% 0, 86% 53%, 100% 100%, 0% 100%, 15% 53%, 0% 0%);
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: .5px;
  margin: 0;
  text-transform: uppercase;
  clear: both;

}

.btn-alt {
    background-color:#e88965;
    padding: 20px 60px;
    color: rgba(255,255,255,0.9);
    font-weight: 700;
    font-size: 1.25em;
}
.btn-alt:hover {
  background: #f5d6c2;
  color: #bf5b36;
}

.dropdown {
  min-width: 300px;
  max-width: 300px;
  width: 70%;
  /* border-radius: 5px; */
  /* background: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.dropdown2 {
  min-width: 300px;
  max-width: 300px;
  width: 70%;
  /* border-radius: 5px; */
  /* background: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.dropdown3 {
  min-width: 300px;
  max-width: 300px;
  width: 70%;
  /* border-radius: 5px; */
  /* background: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.dropdown4 {
  min-width: 300px;
  max-width: 300px;
  width: 70%;
  /* border-radius: 5px; */
  /* background: rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.btn-top {
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  cursor: pointer;
  /* border-radius: 5px; */
  color: rgba(0, 0, 0, .6);
}

.btn-top2 {
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  cursor: pointer;
  /* border-radius: 5px; */
  color: rgba(0, 0, 0, .6);
}

.btn-top3 {
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  cursor: pointer;
  /* border-radius: 5px; */
  color: rgba(0, 0, 0, .6);
}

.btn-top4 {
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background: white;
  cursor: pointer;
  /* border-radius: 5px; */
  color: rgba(0, 0, 0, .6);
}

.btn-top svg {
  width: 16px;
  margin-left: 10px;
}

.btn-top2 svg {
  width: 16px;
  margin-left: 10px;
}

.btn-top3 svg {
  width: 16px;
  margin-left: 10px;
}

.btn-top4 svg {
  width: 16px;
  margin-left: 10px;
}

.bloc-links {
  /* padding: 0 20px; */
  transition: height 0.2s ease-in-out;
  height: 0;
}

.bloc-links2 {
  /* padding: 0 20px; */
  transition: height 0.2s ease-in-out;
  height: 0;
}

.bloc-links3 {
  /* padding: 0 20px; */
  transition: height 0.2s ease-in-out;
  height: 0;
}

.bloc-links4 {
  /* padding: 0 20px; */
  transition: height 0.2s ease-in-out;
  height: 0;
}

.bloc-links p {
  list-style-type: none;
  /* padding: 5px 0 25px 0; */
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0, 0, 0, .6);
  /* margin-left: 5px; */
}

.bloc-links2 p {
  list-style-type: none;
  /* padding: 5px 0 25px 0; */
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0, 0, 0, .6);
  /* margin-left: 5px; */
}

.bloc-links3 p {
  list-style-type: none;
  /* padding: 5px 0 25px 0; */
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0, 0, 0, .6);
  /* margin-left: 5px; */
}

.bloc-links4 p {
  list-style-type: none;
  /* padding: 5px 0 25px 0; */
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25em;
  color: rgba(0, 0, 0, .6);
  /* margin-left: 5px; */
}
.bloc-links li:last-child {
  padding-bottom: 25px;
}

.bloc-links2 li:last-child {
  padding-bottom: 25px;
}

.bloc-links3 li:last-child {
  padding-bottom: 25px;
}

.bloc-links4 li:last-child {
  padding-bottom: 25px;
}


/*
  ========================================
  Primary header
  ========================================
*/

.logo {
  width: 100%;
  background-color: white;
  border-top: 4px solid #d49982;
  margin: 0;
  padding: 50px 0;
}

.logo img {
    max-width: 70%;
    margin-left: 15%;
}


.primary-nav {
  font-size: 1.8em;
  font-weight: 400;
  letter-spacing: .7px;
  text-transform: uppercase;
  text-align: center;
}


.primary-nav ul li {
    padding-bottom: 10px;
    border-bottom: 2px solid white;

}

.primary-nav ul li:last-child {
    margin-right: 20px;
}

.primary-nav ul li:hover {
    border-bottom: 2px solid #f7a07d;
}

/*
  ========================================
  Primary footer
  ========================================
*/

.primary-footer {
  color: #648880;
  font-size: 14px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.primary-footer li {
    border: none;
}

.primary-footer small {
  float: left;
  font-weight: 400;
  padding-bottom: 0px;
  padding-top: 30px;
}

/*
  ========================================
  Navigation
  ========================================
*/

.nav {
  text-align: center;
  margin-top: 30px;
}
.nav li {
  display: inline-block;
  margin: 0 30px;
  vertical-align: top;

}

.nav li:hover {

}

.nav li:last-child {
  margin-right: 0;
}

/*
  ========================================
  Home
  ========================================
*/

.hero {
  color: #fff;
  line-height: 44px;
  padding: 22px 80px 66px 80px;
  text-align: center;
}
.hero h2 {
  color: #f5ccbc;
  margin-top: 45px;
  font-size: 36px;
  font-weight: 700;
    text-align: left;
}
.hero p {
  font-size: 24px;
  font-weight: 300;
    line-height: 29px;
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 0 ;
    text-align: left;
}


/*
  ========================================
  Speakers
  ========================================
*/

.speaker {
  margin-bottom: 44px;
}


/*
  ========================================
  Schedule
  ========================================
*/

table {
    margin: 0 auto;
  margin-bottom: 44px;
  width: 80%;
  border-bottom: 1px solid #dfe2e5;
}
table:last-child {
  margin-bottom: 25px;
  border-bottom: none;
}

.tables-space {
  padding-bottom: 44px;
}

th,
td {
  /* padding-bottom: 22px; */
  vertical-align: top;
}
th {
  padding-right: 45px;
  text-align: right;
}
td {
  width: 40%;
}
thead {
  line-height: 44px;
}
thead th {
  color: rgba(0, 0, 0, .6);
  font-size: 21px;
  font-weight: 700;
}

th {
  /* border-top: 1px solid #dfe2e5; */
}

tbody th {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  padding-top: 22px;
  text-transform: uppercase;
}
tbody td {
  /* border-top: 1px solid #dfe2e5; */
  padding-top: 21px;
}
tbody td:first-of-type {
  padding-right: 15px;
}
tbody td:last-of-type {
  padding-left: 15px;
}
tbody td:only-of-type {
  padding-left: 0;
  padding-right: 0;
}
.schedule-offset {
  color: #000;
}

.date {
    font-size: .7em;
    font-weight: 700;
    color: rgba(95, 165, 128, 1);
    text-align: left;
    margin-top: -15px;
    display: block;
    float: right;
}

.col-1-2 {
    width: 50%
}

.about {
    font-size: 1.2em;
    line-height: 25px;
    color: #000;
    text-align: left;
}

#cara-pic img {
   max-width: 100%;
}

/*
------------------------
------------------------
Media Queries
------------------------
------------------------
*/

/*
------------------------
1026 max
------------------------
*/
@media only screen and (max-width: 1024px) {

    .featherlight .featherlight-content {
        padding: 0;

    }

    .featherlight-content{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .featherlight-inner {
        max-width: 100%;
        max-height: 100%;
        padding: 0;
    }
}


/*
------------------------
960 max
------------------------
*/
@media only screen and (max-width: 960px) {
    .container,
    .grid {
        margin: 0 auto;
        width: 100%;
    }

    .row,
    .row-alt {
        width: 100%;
        min-width: 0px;
    }

    .col-1-2 {
    width: 100%;
    }

    #cara-pic{
        width: 100%;
    }

    #cara-pic img {
        margin: 0 auto;
    }

    .featherlight .featherlight-content {
        padding: 0;
    }

    .featherlight-content{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .featherlight-inner {
        max-width: 100%;
        max-height: 100%;
        padding: 0;
    }

    .hero p {
        font-weight: 300;
        padding: 15px;
    }
}

/*
------------------------
1 - 799
------------------------
*/
@media only screen and (min-width: 1px) and (max-width: 800px) {
    table {
        margin: 25px auto 0 auto;
        width: 70%;
        padding-bottom: 25px;
        border-bottom: 1px solid #dfe2e5;
        display: block;
    }
   
    .bloc-links p{
      padding-bottom: 15px;
    }

   .bloc-links2 p{
    padding-bottom: 15px;
  }

  .bloc-links3 p{
    padding-bottom: 15px;
  }

  .bloc-links4 p{
    padding-bottom: 15px;
  }

    th, td {
      /* padding-bottom: 22px; */
      vertical-align: top;
      display: contents;
      }

    .row {
      padding-top: 40px;
    } 

      .date {float: none;}

    .dropdown {
      color: rgba(0, 0, 0, .6);
      font-size: 16px;
      font-weight: 700;
      min-width: 300px;
      max-width: 700px;
      width: 100%;
    }

    .dropdown2 {
      color: rgba(0, 0, 0, .6);
      font-size: 16px;
      font-weight: 700;
      min-width: 300px;
      max-width: 700px;
      width: 100%;
    }

    .dropdown3 {
      color: rgba(0, 0, 0, .6);
      font-size: 16px;
      font-weight: 700;
      min-width: 300px;
      max-width: 700px;
      width: 100%;
    }

    .dropdown4 {
      color: rgba(0, 0, 0, .6);
      font-size: 16px;
      font-weight: 700;
      min-width: 300px;
      max-width: 700px;
      width: 100%;
    }
}

/*
------------------------
480 max
------------------------
*/
@media only screen and (max-width: 480px) {


    .logo img {
        max-width: 80%;
        margin-left: 9%;
    }

    .hero h2 {
        font-size: 30px;
        line-height: 34px;
        text-align: left;
        margin-top: 25px;
    }

    .hero p {
        font-size: 20px;
        font-weight: 300;
        text-align: left;
        padding: 0;
    }

    .featherlight .featherlight-content {
        padding: 0;
        width: 100%;
    }

    .featherlight-content{
        max-width: 100%;
        max-height: 100%;
        margin: 0;
    }

    .featherlight-inner {
        max-width: 100%;
        max-height: 100%;
        padding: 0;
    }
}


/*
------------------------
320 479
------------------------
*/
@media only screen and (min-width: 320px) and (max-width: 479px) {

    .logo {
      padding: 30px 0;
      border-top: 6px solid #d49982;
    }

    .nav li {
        margin: 0 10px;
    }

    .primary-nav ul li:last-child {
    margin-right: 20px;
    }

    .primary-header a {
        font-size: .75em;
    }

    .hero {
      color: #fff;
      line-height: 44px;
      padding: 22px 30px 66px 30px;
      text-align: center;
    }

    table {
    margin: 0 auto;
    margin-bottom: 44px;
    width: 100%;
    }

    th {
        width: 50%;
        padding-right: 35px;
        text-align: right;
    }

    td {
        width: 45%;
    }

    .line-fix {
        padding-top: 10px;
        padding-bottom: 30px;
        line-height: 1.3em
    }

}

/*
------------------------
1 - 587 footer fix
------------------------
*/
@media only screen and (min-width: 1px) and (max-width: 587px) {

    .primary-footer li {
    font-size: 1.4em;
        margin: 0;
        padding-top: 20px;
        padding-left: 30px

    }

    .primary-footer nav {
       width: 100%;
        margin: 0;
        padding: 0;
        text-align: right;
    }

    .nav {
        width: 100%;
    }

    .primary-footer nav ul li:last-child {
        margin-right: 0;
    }
}

/*
------------------------
1 - 472 footer fix
------------------------
*/
@media only screen and (min-width: 1px) and (max-width: 472px) {

    .primary-footer nav {
        width: 70%;
        float: right;
    }

}
